4.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "634bfd74-5a92-4fd6-a82d-ad8e198f2900",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appYPB0Q8TKMAlASW",
          "mode": "list",
          "cachedResultName": "Deals",
          "cachedResultUrl": "https://airtable.com/appYPB0Q8TKMAlASW"
        },
        "table": {
          "__rl": true,
          "value": "tbl8UZhDZb4AUd9uq",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://airtable.com/appYPB0Q8TKMAlASW/tbl8UZhDZb4AUd9uq"
        },
        "filterByFormula": "=AND({pipeline_stage} = 'Test Called', {statut_demo} = 'Non envoyé')",
        "returnAll": false,
        "limit": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "cf4247cc-5deb-441a-a0fe-0852983beb27",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "xPWlqNHcfqoaWxA9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "100f0666-5b6b-4f11-845a-f6e6403172b0",
      "name": "Split In Batches"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "40ce899b-9c12-4793-81d0-1d499951c93d",
              "leftValue": "={{ !$json.timezone }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "84e1d4af-60a8-408f-ad45-14ca9683dc37",
      "name": "If “timezone empty?"
    },
    {
      "parameters": {
        "url": "https://timeapi.io/api/TimeZone/coordinate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $json.latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.longitude }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        -128
      ],
      "id": "8c5949d2-7c38-4f8a-9876-5b48e3881234",
      "name": "Get Timezone from Lat/Long",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\n// Si l'API a répondu correctement\nif (item.timeZone) {\n  return { json: { ...$('Split In Batches').item.json, timezone: item.timeZone } };\n}\n\n// Fallback si l'API échoue ou pas de lat/long\nreturn { json: { ...$('Split In Batches').item.json, timezone: 'America/New_York' } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ],
      "id": "3a4b5c6d-7e8f-4a9b-8c0d-1e2f3a4b5c6d",
      "name": "Set Timezone Data"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYPB0Q8TKMAlASW",
          "mode": "list",
          "cachedResultName": "Deals",
          "cachedResultUrl": "https://airtable.com/appYPB0Q8TKMAlASW"
        },
        "table": {
          "__rl": true,
          "value": "tbl8UZhDZb4AUd9uq",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://airtable.com/appYPB0Q8TKMAlASW/tbl8UZhDZb4AUd9uq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "timezone": "={{ $json.timezone }}"
          },
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1248,
        0
      ],
      "id": "82646f72-2a84-4628-b6bd-1b3014de2b72",
      "name": "Save Timezone",
      "credentials": {
        "airtableTokenApi": {
          "id": "xPWlqNHcfqoaWxA9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"agent_897fac587c408f62714fec98dd\",\n  \"to_number\": \"{{$json.phone}}\",\n  \"from_number\": \"+13853601329\",\n  \"metadata\": {\n    \"prospect_id\": \"{{$json.id}}\",\n    \"timezone\": \"{{$json.timezone}}\"\n  },\n  \"retell_llm_dynamic_variables\": {\n    \"business_name\": \"{{$json.business_name}}\",\n    \"industry\": \"{{$json.industry}}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1888,
        0
      ],
      "id": "d96e476b-e38d-4ebc-9ccf-e0b472496c0f",
      "name": "Appel Retell",
      "onError": "continueErrorOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "0x9BM8g0L6OVAElO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9bd6ea4-111c-4a17-88ce-c11d12c8af8a",
              "leftValue": "={{ $json.ok_to_call }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1664,
        0
      ],
      "id": "030413d4-4897-4ec8-8aa0-9ac6081d5882",
      "name": "If \"ok to call\""
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const json = item.json;\n  // On nettoie la timezone\n  let tz = (json.timezone || '').trim();\n\n  // Verification basique (Doit ressembler à America/..., US/..., Canada/...)\n  const looksValid = tz.includes('/');\n\n  if (!tz || !looksValid) {\n    output.push({\n      json: {\n        ...json,\n        ok_to_call: false,\n        reason: 'invalid_timezone',\n      },\n    });\n    continue;\n  }\n\n  // Vérification de l'heure locale (9h - 18h)\n  let ok = false;\n  let hourLocal = null;\n\n  try {\n    const now = new Date();\n    const formatter = new Intl.DateTimeFormat('en-US', {\n      hour: 'numeric',\n      hour12: false,\n      timeZone: tz,\n    });\n\n    const parts = formatter.formatToParts(now);\n    const hourPart = parts.find((p) => p.type === 'hour');\n    hourLocal = parseInt(hourPart.value, 10);\n\n    // Fenêtre d'appel : 9h00 à 18h00\n    ok = hourLocal >= 9 && hourLocal < 18;\n  } catch (e) {\n    // Si la timezone est invalide pour le système, on bloque par sécurité\n    ok = false; \n  }\n\n  output.push({\n    json: {\n      ...json,\n      ok_to_call: ok,\n      hourLocal,\n      reason: ok ? 'inside_window' : 'outside_window',\n    },\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        0
      ],
      "id": "93149379-aee4-44dc-b824-7f1ee19e5da2",
      "name": "JSON Cleaning"
    },
    {
      "parameters": {
        "amount": 200,
        "unit": "milliseconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2080,
        0
      ],
      "id": "53d100c4-98c3-4d22-92a4-f187392a8321",
      "name": "Wait",
      "webhookId": "73f2a893-2771-41b9-87c2-8495c278789d"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "If “timezone empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If “timezone empty?": {
      "main": [
        [
          {
            "node": "Get Timezone from Lat/Long",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JSON Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Timezone from Lat/Long": {
      "main": [
        [
          {
            "node": "Set Timezone Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Timezone Data": {
      "main": [
        [
          {
            "node": "Save Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Timezone": {
      "main": [
        [
          {
            "node": "JSON Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Cleaning": {
      "main": [
        [
          {
            "node": "If \"ok to call\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If \"ok to call\"": {
      "main": [
        [
          {
            "node": "Appel Retell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appel Retell": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}